<mat-toolbar color="primary">
  <mat-icon >list</mat-icon>
  <span (click)="getCommits()" class="link" *ngIf="searchApplied;else all_content">Show All Commits</span>
  <ng-template #all_content>Repository Commit List</ng-template>
</mat-toolbar>


<table mat-table *ngIf="dataExist(); else message" [dataSource]="commits" class="mat-elevation-z8">

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element"><span class="link" (click)="getCommits(element.author)"> {{element.author}} </span> </td>
  </ng-container>

  <!-- Commit Date Column -->
  <ng-container matColumnDef="commit_date">
    <th mat-header-cell *matHeaderCellDef> Commit Date </th>
    <td mat-cell *matCellDef="let element"> {{element.commit_date}} </td>
  </ng-container>

  <!-- Commit ID Column -->
  <ng-container matColumnDef="sha">
    <th mat-header-cell *matHeaderCellDef> sha </th>
    <td mat-cell *matCellDef="let element"> {{element.sha}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'coloredRow': row.rowColor }" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #message ><div class="message">{{message_text}}</div></ng-template>
